body {
	background-color: #eee !important;
	font-size: 14px !important;
}

.header {
	background-color: rgb(241, 241, 255) !important;
}

.font-title {
	font-size: 18px !important;
}

.font-regular {
	font-size: 14px !important;
}

.font-small {
	font-size: 11px !important;
}

.posted {
	font-size: 15px !important;
}

.bdge {
	height: 21px !important;
	background-color: orange !important;
	color: #fff !important;
	font-size: 11px !important;
	padding: 8px !important;
	border-radius: 4px !important;
	line-height: 3px !important;
}

.comments {
	text-decoration: underline !important;
	text-underline-position: under !important;
	cursor: pointer !important;
	font-size: 12px !important;
}

.dot {
	height: 7px !important;
	width: 7px !important;
	margin-top: 3px !important;
	background-color: #bbb !important;
	border-radius: 50% !important;
	display: inline-block !important;
}

.hit-voting:hover {
	color: blue !important;
}

.hit-voting {
	cursor: pointer !important;
}

.photo {
	display: block !important;
	margin-left: auto !important;
	margin-right: auto !important;
}
