{% extends "index.html" %}
{% load static %}

{% block headtag %}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script type="text/javascript" src="{% static 'custom/jquery/date.js' %}"></script>
{% endblock headtag %}

{% block content %}
<section class='container'>
  <div class='shadow p-4 mb-4 bg-white w-100 text-center'>
    <form method='POST' action="" class="input" enctype="multipart/form-data">
      {% csrf_token %}

      <h3>Bio</h3>

      {{ form.bio }}
      <br />
      <br />


      <h3>One Liner:</h3>

      {{ form.header }}
      <br />
      <br />

      <h3>DOB</h3>
      {{ form.date_of_birth }}
      <br />
      <br />


      <h3>Where ya at?</h3>

      {{ form.location }}
      <br />

      <hr />
      <input type='submit' value='Save'>
      </br>
    </form>
  </div>
</section>
<br>
{% endblock content %}