{% extends 'index.html' %}
{% load static %}
{% block content %}
<section class="dev-message">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="message-box">
          <h1 style="text-decoration:underline">Please read before continuing:</h1>
          <br>
          <p>
            This website is still in development.
            <br>
            There are some bugs and issues that still need to be fixed.
            <br>
            <br>
            If you are just a visitor, I would appreciate it if you would not post anything that is
            offensive/vulgar.
            <br>
            Thank you for understanding.
            <br>
            <br>
            I also appreciate any feedback you may have.
            <br>
            If you have any questions/feedback, please contact me at:
            russell.live@protonmail.com
          </p>
        </div>
      </div>
    </div>
  </div>
  {% endblock content %}