{% extends "index.html" %}
{% block content %}
<div class='container mt-4'>
  <!-- the post form -->
  {% if request.user.is_authenticated %}
  <div class="form-group">
    <form method='POST' action="" class="form-horizontal">
      {% csrf_token %}
      <label>Scream something in 140 or less:</label>
      <br>
      {{ post_tweet }}
      <input class="btn btn-primary" type='submit' value='Submit'>
    </form>
  </div>
  {% endif %}
  </br>

  <!-- list of all posts -->
  {% for foo in tweets %}
  {% autoescape off %}
  <div class='shadow p-4 mb-4 bg-white w-25'>
    <p class='posted_by'>
      <a href='/profile/{{ foo.posted_by.id }}'>
        {{ foo.posted_by }}
      </a>
      screams:
    </p>
    <p class="text-uppercase">
      {{ foo.content }}!!!
    </p>
    <p class='time'>
      {{ foo.creation_time }}
    </p>
    <br>
    {% if request.user.is_authenticated %}
    <div class='buttons'>
      <a href='/like/{{ foo.id }}'>
        <button class="btn-xs">Like: {{ foo.likes.count }}</button>
      </a> |
      <a href="/dislike/{{ foo.id }}">
        <button class="btn-xs">Dislike: {{ foo.dislikes.count }}</button>
      </a>
    </div>
    <hr>
    {% endif %}
    <details>
      <summary>Comments {{ foo.comments.all.count }}</summary>
      <form action="/comment/{{ foo.id }}/" enctype="multipart/form-data" method="POST" class="form-horizontal">
        {% csrf_token %}
        {{ comment_form }}
        <input class="btn btn-primary" type='submit' value='Submit'>
      </form>
      {% for comments in foo.comments.all %}
      <div class="comments" style="margin-left: 50px; border: 1px solid black; width: 30vw">
        <a href="/profile/{{ comments.comment_by.id }}"><img src="{{ comments.comment_by.profile_image.url }}"
            width="50" height="50" class="rounded-circle"></a>
        <p><a href="/profile/{{ comments.comment_by.id }}">{{ comments.comment_by }}</a> Replied:</p>
        <p>{{ comments.content }}</p>
        <p>{{ comments.created_at }}</p>
        <p> Likes: {{ comments.likes.count }} </p>

        {% if comments.liked %}
        <a href="/like/{{ comments.id }}/comment"><button class="btn-xs">Dislike</button></a>
        {% else %}
        <a href="/like/{{ comments.id }}/comment"><button class="btn-xs">Like</button></a>
        {% endif %}
        {% if request.user == comments.author %}
        <a href="/delete_comments/{{ comments.id }}/"><button>delete</button></a>
        {% endif %}
      </div>

      {% endfor %}
    </details>
  </div>
  {% endautoescape %}
  {% endfor %}
</div>
{% endblock content %}