{% extends "index.html" %}
{% load static %}

{% block headtag %}
<!-- CSS/SCRIPT HERE -->
  <link rel="stylesheet" type="text/css" href="{% static 'custom/style.css' %}">
{% endblock headtag %}

<!--Form to Post-->
{% block content %}
<div class='container mt-4 text-center'>
  <!-- the post form -->
  {% if request.user.is_authenticated %}
  <div class="form-group">
    <form method='POST' action="" class="form-horizontal">
      {% csrf_token %}
      <label>Scream something in 140 or less:</label>
      <br>
      {{ post_tweet }}
      <input class="btn btn-primary" type='submit' value='Submit'>
    </form>
  </div>
  {% endif %}
</div>
</br>

<!--Regular Post Section-->
{% for post in tweets %}
<div class="container mt-5 mb-5">
  <div class="d-flex justify-content-center row">
    <div class="d-flex flex-column col-md-8">
      <div class="shadow d-flex flex-row align-items-center text-left comment-top p-2 bg-white border-bottom px-4">
        <div class="profile-image">
          <img class="rounded-circle" src={{ post.posted_by.profile_image.url }} width="62" height="60">
          <p class="text-center">{{ post.posted_by.header }}</>
        </div>

        <!--Like Buttons-->
        {% block postbuttons %}
        {% include 'post_buttons.html' %}
        {% endblock postbuttons %}
  
        <div class="d-flex flex-column ml-5">
          <div class="d-flex flex-row post-title font-title">
            <span>
              <a href="/profile/{{ post.posted_by.id }}">
                {{ post.posted_by }}</a>&nbsp;screams:
            </span>
          </div>
          <div class="d-flex flex-row mt-1 mb-3 font-regular">
            {{ post.content }}!!!
          </div>
          <div class="d-flex flex-row align-items-center align-content-center post-title font-small">
            <!-- <span class="bdge mr-2">
              (link)
            </span> -->
            <span class="mr-2 comments">
              {{ post.comments.count }}&nbsp;comments
            </span>
            <span class="mr-2 dot"></span>
            <span>
              {{ post.elapsed }}
            </span>
          </div>
        </div>
      </div>

      <!--Comment Section-->
      <div class="shadow comment-bottom bg-white p-2 px-4">
        {% if post.comments.count > 2 %}
        <details>
          <summary>Comments</summary>
          {% endif %}
          {% if request.user.is_authenticated %}
          <div class="d-flex flex-row add-comment-section mt-4 mb-4">
            <a href="/profile/{{ comments.comment_by.id }}/"></a>
            <img class="rounded-circle mr-2 mt-1" src="{{ request.user.profile_image.url }}" width="40" height="40">
            <form action="/comment/{{ post.id }}/" enctype="multipart/form-data" method="POST"
              class="form-horizontal mt-3">
              {% csrf_token %}
              {{ comment_form }}
              <input class="btn btn-primary mb-2" type='submit' value='Submit'>
            </form>
          </div>
          {% endif %}
          {% for comments in post.comments.all %}
          <div class="commented-section">
            <div class="d-flex flex-row align-items-center">
              <a class="font-regular mr-2 mb-2" href="/profile/{{ comments.comment_by.id }}/">
                {{ comments.comment_by }}
              </a>
            </div>
            <div class="comment-text">
              <div>
                {{ comments.content }}!!!
              </div>
              <div class="font-small mt-2 mb-1">
                {{ comments.elapsed }}
              </div>
            </div>

            <!---Like Buttons for comments-->
            {% block commentbuttons %}
            {% include 'comment_buttons.html' %}
            {% endblock commentbuttons %}

          </div>
          {% endfor %}
        </details>
      </div>
    </div>
  </div>
</div>


{% endfor %}
{% endblock content %}