{% extends "index.html" %}
{% load static %}

{% block headtag %}
<script type="text/javascript" src="{% static 'custom/jquery.js' %}"></script>
{% endblock headtag %}

{% block content %}
<div class="container mt-2">
  <div class='shadow p-4 mb-4 bg-white w-100'>
    <!-- message when no notifications -->
    {% if notif.count == 0 %}
    <b>You have no new notifications</b>

    {% else %}
    <h2>Notifications</h2>
    <hr>
    <div class="text-right">
      <a href='/mark_read/0/?data=read'><button type='submit' value='Read'>Read-all</button></a>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Post</th>
          <th>When</th>
          <th> </th>
          <th> </th>
        </tr>
      </thead>
      {% csrf_token %}
      {% for foo in notif_list %}
      {% if foo.read == False %}
      {% autoescape off %}
      <!-- goes in third td tag -->
      <!-- <a href='/post/{{ foo.post_id }}'>View Post</a> -->
      <tbody>
        <tr class='clickable-row' data-href='/post/{{ foo.post_id }}'>
          <td>{{ foo.message }}</td>
          <td>{{ foo.rec_date }}</td>
          {% if foo.follower == False %}
          <td> </td>
          {% else %}
          <td> </td>
          {% endif %}
          <td class='text-right'>
            <a href='/mark_read/{{ foo.id }}'>
              <div class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-flag fa-stack-1x fa-inverse"></i>
              </div>
            </a>
          </td>
        </tr>
      </tbody>
      {% endautoescape %}
      {% endif %}
      {% endfor %}
    </table>
  </div>
  {% endif %}
</div>

{% endblock content %}