{% extends "index.html" %}
{% load static %}

{% block headtag %}
<link rel="stylesheet" type="text/css" href="{% static 'custom/style.css' %}">
<!-- CSS/SCRIPT HERE -->
{% endblock headtag %}

{% block content %}
<div class="container flex-column">
  <div class="col-md-5">
    <div class="shadow row ml-1">
      <div class="col-12 bg-white py-2">
        <div class="d-flex flex-column align-items-center">
          <a href="/profile/{{ account.id }}/editproimage">
            <img class="mx-auto d-block" src={{ account.profile_image.url }} alt="" height="40%" width="40%">
          </a>
          <p class="fw-bold h4 mt-2 text-capitalize">{{ account.username }}</p>
          <p class="text-muted text-center">BIO:<br>{{ account.bio }}</p>
          <p class="text-muted text-center">I like {{ account.followers.count }} people <br /> {{ account.following.count }} people like me</p>
          {% if request.user.is_authenticated %}
          {% if request.user.id is account.id %}
          <p class="text-muted"><a href="/profile/{{ account.id }}/edit">Edit Profile</a></p>
          <p class="text-muted"><a href="/profile/{{ account.id }}/editproimage">Change Profile Image</a></p>
          {% endif %}
          {% endif %}
          {% if request.user.is_authenticated and request.user.username != account.username %}
          <div class="">
            {% if request.user not in account.followers.all %}
            <a href='/profile/{{ account.id }}/follow/'>
              <div class="btn btn-primary follow me-2">
                Follow
              </div>
            </a>
            {% else %}
            <a href='/profile/{{ account.id }}/unfollow/'>
              <div class="btn btn-primary follow me-2">
                Unfollow
              </div>
            </a>
            {% endif %}
            <div class="btn btn-outline-primary message">Message</div>
          </div>
          {% endif %}
        </div>
      </div>
      <!-- Adding later -->
      <!-- Update to user model required -->
      <!-- <div class="col-12 bg-white p-0 px-2 pb-3 mb-3">
      <div class="d-flex justify-content-between border-bottom py-2 px-3">
        <p><span class="fas fa-globe me-2"></span>Website</p> <a href="#">{{ account.website }}</a>
      </div>
      <div class="d-flex justify-content-between border-bottom py-2 px-3">
        <p><span class="fab fa-twitter me-2"></span>Twitter</p> <a href="">{{ account.twitter }}</a>
      </div>
      <div class="d-flex justify-content-between border-bottom py-2 px-3">
        <p><span class="fab fa-instagram me-2"></span>Instagram</p> <a href="">{{ account.instagram }}</a>
      </div>
      <div class="d-flex justify-content-between py-2 px-3">
        <p><span class="fab fa-facebook-f me-2"></span>facebook</p> <a href="">{{ account.facebook }}</a>
      </div>
    </div> -->
    </div>
  </div>

  <div class="col-md-7 ps-md-4">
    <div class="d-flex flex-column">
      <div class="shadow col-12 bg-white px-3 mb-3 pb-3">
        <div class="d-flex align-items-center justify-content-between border-bottom">
          <p class="py-2">Name</p>
          <p class="py-2 text-muted text-capitalize">{{ account.username }}</p>
        </div>
        <div class="d-flex align-items-center justify-content-between border-bottom">
          <p class="py-2">Header msg</p>
          <p class="py-2 text-muted">{{ account.header }}</p>
        </div>
        <div class="d-flex align-items-center justify-content-between border-bottom">
          <p class="py-2">Nationality</p>
          <p class="py-2 text-muted">
            {{ account.location }}
          </p>
        </div>
        <div class="d-flex align-items-center justify-content-between border-bottom">
          <p class="py-2">Birthday</p>
          <p class="py-2 text-muted">{{ account.date_of_birth }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-7 ps-md-4">
    <div class="column">
      <div class="shadow col-12 bg-white px-3 pb-2">
        <h6 class="d-flex align-items-center mb-3 fw-bold py-3">
          <i class="text-info">
            Recent Posts:
          </i>
        </h6>
        {% for post in posts %}
        <div class="d-flex justify-content-center mb-3">
          <div class='shadow p-4 mb-4 bg-white w-75'>
            <div>
              {{ post.content }}!!!
            </div>
            <p class='time'>
              {{ post.elapsed }}
            </p>
            <br>
            {% if request.user.is_authenticated %}
            <div class="d-flex flex-row flex-grow-0 votings font-small">
              {% if request.user in post.likes.all %}
              <a class="fa fa-thumbs-up fa-2x hit-voting mr-1" href='/like/{{ post.id }}'></a>
              <span class="mr-2">
                {{ post.likes.count }}
              </span>
              {% else %}
              <a class="fa fa-thumbs-o-up fa-2x hit-voting mr-1" href='/like/{{ post.id }}'></a>
              <span class="mr-2">
                {{ post.likes.count }}
              </span>
              {% endif %}
              {% if request.user in post.dislikes.all %}
              <a class="fa fa-thumbs-down fa-2x hit-voting ml-1 mr-1" href='/dislike/{{ post.id }}'></a>
              <span>
                {{ post.dislikes.count }}
              </span>
              {% else %}
              <a class="fa fa-thumbs-o-down fa-2x hit-voting ml-1 mr-1" href='/dislike/{{ post.id }}'></a>
              <span>
                {{ post.dislikes.count }}
              </span>
              {% endif %}
            </div>
            <hr>
            {% endif %}
            <details>
              <summary>Comments {{ post.comments.all.count }}</summary>
              <div class="comment-bottom bg-white p-2 px-4">
                <div class="d-flex flex-row add-comment-section mt-4 mb-4">
                  <a href="/profile/{{ comments.comment_by.id }}/"></a>
                  <img class="img-fluid img-responsive rounded-circle mr-2" src="{{ request.user.profile_image.url }}"
                    width="33">
                  <form action="/comment/{{ post.id }}/" enctype="multipart/form-data" method="POST"
                    class="form-horizontal">
                    {% csrf_token %}
                    {{ comment_form }}
                    <input class="btn btn-primary mb-2" type='submit' value='Submit'>
                  </form>
                </div>
                {% for comments in post.comments.all %}
                <div class="commented-section">
                  <div class="d-flex flex-row align-items-center">
                    <a class="font-regular mr-2 mb-2 text-capitalize" href="/profile/{{ comments.comment_by.id }}/">
                      {{ comments.comment_by }}
                    </a>
                  </div>
                  <div class="comment-text">
                    <div>
                      {{ comments.content }}!!!
                    </div>
                    <div class="font-small mt-2 mb-1">
                      {{ comments.elapsed }}
                    </div>
                  </div>

                  <div class="reply-section font-small">
                    <div class="d-flex flex-row align-items-center voting-icons">
                      <a class="fa fa-sort-up fa-2x mt-3 hit-voting" href="/like/{{ comments.id }}/comment/"></a>
                      <span class="ml-1 mr-2">
                        {{ comments.likes.count }}
                      </span>
                      <a class="fa fa-sort-down fa-2x mb-3 hit-voting" href="/dislike/{{ comments.id }}/comment/"></a>
                      <span class="ml-1 mr-2">
                        {{ comments.dislikes.count }}
                      </span>
                      <span class=""></span>
                      {% if comments.comment_by == request.user %}
                      <a href="/delete_comments/{{ comments.id }}/">
                        <button>delete</button></a>
                      {% endif %}
                      </span>
                    </div>
                    <!-- <span class="dot ml-2"></span> -->
                    <!-- <h6 class="ml-2 mt-1">Reply</h6> -->
                  </div>
                </div>
                {% endfor %}
            </details>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}