{% extends "index.html" %}
{% load static %}
{% block content %}
<!-- <section class='container'>
  <div class='shadow p-4 mb-4 bg-white w-100'>
    <img src="{{ account.profile_image.url }}" height="100" width="100" class="rounded-circle"
      alt="{{ request.user.username }}">
    <h3>Name</h3>
    {{ account.username }}
    </br>
    <h3>BIO:</h3>
    {{ account.bio }}
    </br>
    <h3>DOB:</h3>
    {{ account.date_of_birth }}
    <br>
    <h3>Following:</h3>
    <a href="/profile/{{ account.id }}/following/">{{ account.following.count }}</a>
    <br>
    <h3>Followers:</h3>
    <a href="/profile/{{ account.id }}/followers/">{{ account.followers.count }}</a>
    <br>
    <a href="/profile/{{ account.id }}/likes/">
      <h3>Likes</h3>
    </a>
    <br>
    <a href="/profile/{{account.id}}/dislikes/">
      <h3>Dislikes</h3>
    </a>
    <br>
    {% if account.username == request.user.username %}
    <a href='/profile/{{ account.id }}/edit/'>Edit Profile</a>
    {% endif %}
    </br>
    <hr>
    {% if request.user.is_authenticated %}
    <a href='/profile/{{ account.id }}/follow/'><button class="btn-xs">Follow</button></a>
    </br>
    <a href='/profile/{{ account.id }}/unfollow/'><button class="btn-xs">Unfollow</button></a>
    {% endif %}
  </div>
</section>
</br> -->

<div class="col-md-5">
  <div class="row">
    <div class="col-12 bg-white p-0 px-3 py-3 mb-3">
      <div class="d-flex flex-column align-items-center">
        <img class="photo" src={{ account.profile_image.url }} alt="" height="80" width="100">
        <p class="fw-bold h4 mt-3 text-capitalize">{{ account.username }}</p>
        <p class="text-muted">{{ account.header }}</p>
        <p class="text-muted mb-3">{{ account.location }}</p>
        <p class="text-muted mb-3">{{ account.date_of_birth }}</p>

        {% if request.user.is_authenticated and request.user.username != account.username %}
        <div class="d-flex ">
          {% if request.user not in account.followers.all %}
          <a href='/profile/{{ account.id }}/follow/'>
            <div class="btn btn-primary follow me-2">
              Follow
            </div>
          </a>
          {% else %}
          <a href='/profile/{{ account.id }}/unfollow/'>
            <div class="btn btn-primary follow me-2">
              Unfollow
            </div>
          </a>
          {% endif %}
          <div class="btn btn-outline-primary message">Message</div>
        </div>
        {% endif %}
      </div>
    </div>
    <!-- Adding later -->
    <!-- Update to user model required -->
    <!-- <div class="col-12 bg-white p-0 px-2 pb-3 mb-3">
      <div class="d-flex justify-content-between border-bottom py-2 px-3">
        <p><span class="fas fa-globe me-2"></span>Website</p> <a href="#">{{ account.website }}</a>
      </div>
      <div class="d-flex justify-content-between border-bottom py-2 px-3">
        <p><span class="fab fa-twitter me-2"></span>Twitter</p> <a href="">{{ account.twitter }}</a>
      </div>
      <div class="d-flex justify-content-between border-bottom py-2 px-3">
        <p><span class="fab fa-instagram me-2"></span>Instagram</p> <a href="">{{ account.instagram }}</a>
      </div>
      <div class="d-flex justify-content-between py-2 px-3">
        <p><span class="fab fa-facebook-f me-2"></span>facebook</p> <a href="">{{ account.facebook }}</a>
      </div>
    </div> -->
  </div>
</div>
<div class="col-md-7 ps-md-4">
  <div class="row">
    <div class="col-12 bg-white px-3 mb-3 pb-3">
      <div class="d-flex align-items-center justify-content-between border-bottom">
        <p class="py-2">Full Name</p>
        <!-- Update to actual name -->
        <!-- Update to Account model required -->
        <p class="py-2 text-muted">{{ account.username }}</p>
      </div>
      <!-- Update to Account model required -->
      <!-- <div class="d-flex align-items-center justify-content-between border-bottom">
        <p class="py-2">Email</p>
        <p class="py-2 text-muted">fip@jukmuh.al</p>
      </div> -->
      <div class="d-flex align-items-center justify-content-between border-bottom">
        <p class="py-2">Phone</p>
        <p class="py-2 text-muted">(239) 816-9029</p>
      </div>
      <div class="d-flex align-items-center justify-content-between border-bottom">
        <p class="py-2">Mobile</p>
        <p class="py-2 text-muted">(320) 380-4539</p>
      </div>
    </div>
    <div class="col-12 bg-white px-3 pb-2">
      <h6 class="d-flex align-items-center mb-3 fw-bold py-3">
        <i class="text-info me-2">
          Recent Posts:
        </i>
        UNDER CONTRUCTION
        <!-- For loop -->
        <!-- Posts HERE -->
        <!-- Use different formatting than main -->
      </h6>
    </div>
  </div>
</div>
{% endblock content %}